<div class="block">
    <h4><?php echo $this->work->title; ?></h4>
    <p><?php echo $this->info; ?></p>
    <a href="#" class="delete-work" _id="<?php echo $this->work->id; ?>">Trinti darbą</a> |
    <a href="#" class="edit-work" _id="<?php echo $this->work->id; ?>">Redaguoti darbą</a>
    <?php if(!$this->completed) echo ' | <a href="#" class="complete-work" _id="' . $this->work->id . '">Atlikau</a>'; ?>
    <hr />
</div>