<div class="row">
    <div class="col-md-offset-10">
        <button class="btn btn-default" type="submit" id="add-work">Pridėti darbą</button>
    </div>
</div>
<div class="col-md-4">
    <h2>Šiandienos darbai</h2>
    <?php
    if (count($today) < 1) {
        echo '<p>Šiandien nieko nereikia daryti.</p>';
    } else {
        foreach($today as $workRecord) {
            echo $this->partial(
                    'work/partial/record.phtml',
                    array(
                        'work' => $workRecord,
                        'info' => 'Prioritetas: ' . $priority->get($user->id, $workRecord->priority)->name,
                        'completed' => false
                    )
                );
        }
    }
    ?>
</div>
<div class="col-md-4">
    <h2>Vėluojantys darbai</h2>
    <?php
    if (count($late) < 1) {
        echo '<p>Vėluojančių darbų nėra.</p>';
    } else {
        foreach($late as $workRecord) {
            echo $this->partial(
                    'work/partial/record.phtml',
                    array(
                        'work' => $workRecord,
                        'info' => 'Reikėjo atlikti iki ' . $workRecord->deadline_date . '.',
                        'completed' => false
                    )
                );
        }
    }
    ?>
</div>
<div class="col-md-4">
    <h2>Svarbiausi darbai</h2>
    <?php
    if (count($important) < 1) {
        echo '<p>Svarbių darbų nėra.</p>';
    } else {
        foreach($important as $workRecord) {
            echo $this->partial(
                    'work/partial/record.phtml',
                    array(
                        'work' => $workRecord,
                        'info' => 'Prioritetas: ' . $priority->get($user->id, $workRecord->priority)->name,
                        'completed' => false
                    )
                );
        }
    }
    ?>
</div>