<p>Jūsų sesija pasibaigs po <span id="countdown" class="countdown"></span>.</p>
<p>Norėdami pratęsti sesiją, turite pasirinkti, kiek laiko pratęsite sesiją. Jeigu to daryti nenorite, tuomet spauskite mygtuką "Atsijungti".</p>
<p>Valandų skaičius: <select id="sessionHours">
    <?php
    for ($hour = 1; $hour <= 12; $hour++) {
        echo '<option value="' . $hour . '">' . $hour . '</option>';
    }
    ?>
</select></p>