<div id="work-completion_date-group" class="form-group">
    <label for="completion_date">Darbo atlikimo data</label>
    <input type="text" class="form-control" id="work-completion_date" value="<?php echo date('Y-m-d'); ?>">
    <span class="help-block" id="work-completion_date-error"></span>
</div>