<div class="col-md-12">
    <h1>Atlikti darbai</h1>
    <?php
    if (count($completed) < 1) {
        echo '<p>Atliktų darbų nėra.</p>';
    } else {
        foreach($completed as $workRecord) {
            echo $this->partial(
                    'work/partial/record.phtml',
                    array(
                        'work' => $workRecord,
                        'info' => 'Atlikimo data: ' . $workRecord->completion_date,
                        'completed' => true
                    )
                );
        }
    }
    ?>
</div>