<div id="work-title-group" class="form-group">
    <label class="control-label" for="title">Pavadinimas</label>
    <input type="text" class="form-control" id="work-title" value="<?php echo isset($work) ? $work->title : ''; ?>" placeholder="Įveskite darbo pavadinimą">
    <span class="help-block" id="work-title-error"></span>
</div>

<div id="work-deadline_date-group" class="form-group">
    <label for="deadline_date">Iki kada reikia atlikti</label>
    <input type="text" class="form-control" id="work-deadline_date" value="<?php echo isset($work) ? $work->deadline_date : ''; ?>" placeholder="Pavyzdžiui, 2015-01-16">
    <span class="help-block" id="work-deadline_date-error"></span>
</div>

<div id="work-completion_date-group" class="form-group<?php echo !isset($work) ? ' hidden' : ''; ?>">
    <label for="completion_date">Darbo atlikimo data</label>
    <input type="text" class="form-control" id="work-completion_date" value="<?php echo isset($work) && $work->completion_date != '0000-00-00' ? $work->completion_date : ''; ?>" placeholder="Pavyzdžiui, 2015-01-16">
    <span class="help-block" id="work-completion_date-error"></span>
</div>

<div id="work-priority-group" class="form-group">
    <label for="priority">Prioritetas</label>
    <select class="form-control" id="work-priority">
    <?php
    foreach ($priorities as $priority) {
        echo '<option value="' . $priority->level . '"' . (isset($work) ? ($work->priority == $priority->level ? ' selected="selected"' : '') : '') . '>' . $priority->name . '</option>';
    }
    ?>
    </select>
    <span class="help-block" id="work-priority-error"></span>
</div>