<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Todo List')->setSeparator(' - ')->setAutoEscape(false) ?>

        <?php echo $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Le styles -->
        <?php echo $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/img/favicon.ico'))
                        ->prependStylesheet($this->basePath() . '/css/style.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap-theme.min.css')
                        ->prependStylesheet($this->basePath() . '/css/bootstrap.min.css')
                        ->appendStylesheet($this->basePath() . '/css/bootstrap-dialog.css')
                        ->appendStylesheet($this->basePath() . '/css/jquery.countdown.css') ?>

        <!-- Scripts -->
        <script type="text/javascript">
            var BASE_URL = '<?php echo $this->basePath(); ?>';
            var DATE_TODAY = '<?php echo date('Y-m-d'); ?>';
        </script>
        <?php echo $this->headScript()
            ->prependFile($this->basePath() . '/js/bootstrap.min.js')
            ->appendFile($this->basePath() . '/js/bootstrap-dialog.js')
            ->prependFile($this->basePath() . '/js/jquery.min.js')
            ->prependFile($this->basePath() . '/js/respond.min.js', 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath() . '/js/html5shiv.js',   'text/javascript', array('conditional' => 'lt IE 9',))
            ->appendFile($this->basePath() . '/js/countdown/jquery.plugin.min.js')
            ->appendFile($this->basePath() . '/js/countdown/jquery.countdown.min.js')
        ; ?>

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $this->url('home') ?>"><img src="<?php echo $this->basePath('img/todo.png') ?>" alt="Todo List" width="25" />&nbsp;<?php echo $this->translate('Todo List') ?></a>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="container">
                <?php
                if ($role == 'guest') {
                    echo $this->content;
                } else {
                ?>
                <div class="col-md-2">
                    <h2>Meniu</h2>
                    <?php
                    echo $this->navigation('navigation')->setAcl($acl)->setRole($role);
                    ?>
                </div>
                <div class="col-md-10">
                    <?php echo $this->content; ?>
                </div>
                <?php
                }
                ?>
            </div>
            <hr>
            <footer>
                <p>&copy; 2015 by Vaidotas Strazdas.</p>
            </footer>
        </div> <!-- /container -->
        <!-- load Dojo -->
        <?php echo $this->inlineScript()->setAllowArbitraryAttributes(true)
        ->appendFile($this->basePath() . '/js/dojo.js', 'text/javascript', array('data-dojo-config' => 'async: true'))
        ->appendFile($this->basePath() . '/js/custom.js')
        ; ?>
        
    </body>
</html>
