<div class="container">
    <div class="col-md-6">
        <h1>Prisijungti</h1>
        <div id="login-error" class="has-error">
            <span class="help-block" id="login-error-text"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="login">Prisijungimo vardas</label>
            <input type="text" class="form-control" id="login" placeholder="Įveskite prisijungimo vardą">
        </div>
        <div class="form-group">
            <label for="login">Slaptažodis</label>
            <input type="password" class="form-control" id="password" placeholder="Įveskite slaptažodį">
        </div>
        <button type="submit" id="login-button" class="btn btn-default">Prisijungti</button>
    </div>
    <div class="col-md-6">
        <h1>Registruotis</h1>
    </div>
</div>